<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>883632075714-cvq8j0dctotcd0g6mbts79cngstrdgfe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.883632075714-cvq8j0dctotcd0g6mbts79cngstrdgfe</string>
	<key>API_KEY</key>
	<string>AIzaSyAien36Wc4epo4TbfdndCidmGiEIrbKnWU</string>
	<key>GCM_SENDER_ID</key>
	<string>883632075714</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>salvatorepolito.FireCMS</string>
	<key>PROJECT_ID</key>
	<string>firecms-357e2</string>
	<key>STORAGE_BUCKET</key>
	<string>firecms-357e2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:883632075714:ios:699c7e87f374aa97</string>
	<key>DATABASE_URL</key>
	<string>https://firecms-357e2.firebaseio.com</string>
</dict>
</plist>